@namespace Blog.Shared

<div class="background" style="background-image: url('img/wallpaper/dark/img0.jpg');">
</div>


<style>
    
  .background {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--wintheme);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.2s ease;
  }
</style>