@inherits LayoutComponentBase

<div class="appwrap">
    <Blog.Shared.Background @rendermode="@RenderMode.Auto"/>
    <div class="desktop" data-menu="desk">
        @Body
    </div>
    <Blog.Shared.Taskbar @rendermode="@RenderMode.Auto"/>
</div>