@using global::Blog.Settings

@namespace Blog.Component

@inject IJSRuntime JsRuntime
@inject ISettingService SettingService
<MFooter App Dark Color="#42A5F5" Id="@("footer")">
    <div style="float:left; width: 150px">
        <h3 style="font-weight: 900;text-align: center;color: #000000">友链</h3>
        @foreach (var item in ExternalLinks)
        {
            <MButton Text Block OnClick="() => GoTo(item.ExternalConnection)">@item.Title</MButton>
        }
    </div>
    <div class="blog-info">
        <span>
            由.NET 7.0 支持
        </span>
        <span>
            联系我们：239573049@qq.com
        </span>
    </div>
    <div style="float: right; width: 150px">
        <h3 style="font-weight: 900;text-align: center;color: #000000">
            分享地址
        </h3>
        <MButton Block Text Icon OnClick="() => GoTo(Github)">
            <MIcon>mdi-github</MIcon>
        </MButton>

        <MButton Block Text>
            <MImage Style="max-width: 30px;" Src="https://tokenblog.oss-cn-hangzhou.aliyuncs.com/bilibili.png" Alt="Jack"></MImage>
        </MButton>
    </div>
</MFooter>

<style>
    @@media only screen and (max-width: 767px) {
        #footer {
            display: none;
        }

    }

    .blog-info{
        text-align: center;
        margin-top: auto;
        width: calc(100% - 300px);
    }
    .blog-info span{
        margin: 5px;
    }
</style>