@using Token.Events
@using global::Blog.Shared
@namespace Blog.Component

@inject IArticleService ArticleService
@inject IKeyLoadEventBus KeyLoadEventBus
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<MList Style="margin: 5px">
    @if (ArticlesDto != null)
    {
        @foreach (var item in ArticlesDto.Items)
        {
            <MListItem Class="article" Style="margin: 5px;height: 100px">
                <MListItemAvatar Height="50" Width="50">
                    <MAvatar>
                        <MImage Src="@item.UserInfo.Avatar" Alt="Jack"></MImage>
                    </MAvatar>
                </MListItemAvatar>
                <MListItemContent Style="text-align: left">
                    <span @onclick="() => OpenArticle(item)">
                        <MListItemTitle Class="article-title">
                            @item.Title
                        </MListItemTitle>
                        <MListItemSubtitle>@item.Description</MListItemSubtitle>
                    </span>
                    <MListItemContent>
                        <span class="article-name" @onclick="() => GoTo(item.UserInfo.GiteeUrl)">
                            @item.UserInfo.Name
                        </span>
                        
                    </MListItemContent>
                </MListItemContent>
            </MListItem>
        }
        <MPagination Value="_input.Page"
                     ValueChanged="async (v) => {_input.Page=v;await GetListAsync(); }"
                     Length="(int)ArticlesDto.TotalCount / _input.PageSize + (ArticlesDto.TotalCount % _input.PageSize == 0 ? 0 : 1)"
                     TotalVisible="7">
        </MPagination>
    }
</MList>

<style>
    .article{
            user-select: none;
            cursor: pointer;
    }
        .article-title{
            transition: 0.8s;
            font-size: 23px;
        }
        .article-title:hover{
            transition: 0.8s;
            color: #b32121;
        }
        .article-name{
            transition: 0.8s;
            color: #0396FF;
        }
        .article-name:hover{
            transition: 0.8s;
            transform: scale(0.97);
        }
</style>