@namespace Blog.Component

@inject IArticleService ArticleService
@inject NavigationManager NavigationManager

 <BCardTitle Style="text-align: center">热榜排名</BCardTitle>
    <MList>
        @if (ArticlesDto != null)
        {
            @foreach (var item in ArticlesDto)
            {
                <MListItem Style="height: 50px;margin: 5px" OnClick="() => GoTo(item.Id)">
                    <MListItemContent Style="text-align: left">
                        <MListItemTitle Style="font-size: 18px">
                            @((MarkupString)item.Title)<span class="flow">@item.Flow</span>
                        </MListItemTitle>
                        <MListItemSubtitle>@((MarkupString)item.Description)</MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            }
        }
    </MList>

<style>
    .flow{
        float: right;
        font-size: 10px;
        color: #f60404;
    }
</style>