@page "/"


<div class="main-content" style="height:100%;width:100%;background-color: #EEEEEE">
    <div class="left">
        <div class="light border-radius menu">
            这是左侧内容
        </div>
    </div>
    <div class="right">
        <div class="light message border-radius">
            
	        
        </div>
    </div>
</div>


<style>

	.container {
		background-color: #e0e0e0;
	}

	.border-radius {
		border-radius: 8px;
	}

	.left {
		width: 180px;
		float: left;
		height: 100%;
		padding: 10px;
	}

	.right {
		float: left;
		width:calc(100% - 220px);
		height:100%;
		padding: 10px;
	}

	.menu{
		margin: 5px;
		height: 100%;
	}
	
	.message{
		margin: 5px;
		height: 100%;
	}
	
	.light{
		background-color: #ffffff;
		color: #000000;
	}
	
</style>