@page "/compose"
@namespace Blog.Component
@inject IArticleService ArticleService
@inject ITagService TagService
@inject NavigationManager NavigationManager
@inject IPopupService PopupService
@layout EmptyLayout

<MAppBar App>
    <MButton Class="ma-2"
             Color="orange darken-2"
             OnClick="Back"
             Dark>
        <MIcon Dark
               Left>
            mdi-arrow-left
        </MIcon>返回
    </MButton>
    <MTextField
        @bind-Value="_input.Title"
        Solo
        Style="height: 50px;">
    </MTextField>
    <PDrawer Title="Title" Width="500">
        <ActivatorContent>
            <MButton @attributes="@context.Attrs" Dark Color="orange darken-2" Class="ma-2">
                发布文章
            </MButton>
        </ActivatorContent>
        <ChildContent>
            <MTextField @bind-Value="_input.Description" Label="描述"></MTextField>
            <MDivider></MDivider>
            <MContainer Fluid>
                <p>文章标签</p>
                <MRadioGroup
                    @bind-Value="_input.TagId"
                    Row
                    Mandatory>
                    @foreach (var i in TagDtos.OrderBy(x => x.Rank))
                    {
                        <MRadio
                            Label="@i.Title"
                            Value="@i.Id">
                        </MRadio>
                    }
                </MRadioGroup>
            </MContainer>
            <MDivider></MDivider>
            <MButton Block OnClick="CreateAsync">提交</MButton>
        </ChildContent>
    </PDrawer>
</MAppBar>

<MMain>
    <MContainer App Fluid Style="height: 95%">
        <MTabs @bind-Value="Tab">
            <MTab>编辑</MTab>
            <MTab OnClick="async () => _input.Content = await _monacoEditor.GetValue()">预览</MTab>
        </MTabs>
        <MTabsItems Style="height: 100%" Value="Tab">
            <MTabItem Style="height: 100%">
                <SMonacoEditor Style="height: 100%" EditorOptions="Options" @ref="_monacoEditor"/>
            </MTabItem>
            <MTabItem Class="preview">
                <Markdown @bind-Source="_input.Content"></Markdown>
            </MTabItem>
        </MTabsItems>
    </MContainer>
</MMain>

<style>
    .preview{
        overflow: auto;
        max-height: 85vh;
    }
    .preview::-webkit-scrollbar{
        width: 10px;
    }
    
    .preview::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ccc; // 滑块颜色
        border-radius: 5px; // 滑块圆角
    }
    
    .preview::-webkit-scrollbar-thumb:hover {
        background: #0396FF; // 鼠标移入滑块变红
    }
    
    .preview::-webkit-scrollbar-track {
        border-radius: 10px; // 轨道圆角
        background-color: #1890ff // 轨道颜色 
    }
    
</style>