@namespace Blog.Component

@page "/editor"
@inject NavigationManager NavigationManager
@inject IPopupService PopupService
@layout EmptyLayout

<MAppBar App>
    <MButton Class="ma-2"
             OnClick="GetBack"
             Color="orange darken-2"
             Dark>
        <MIcon Dark
               Left>
            mdi-arrow-left
        </MIcon>返回
    </MButton> 
    <MButton Href="/" Height="@("100%")" Text>博客</MButton>
    <MButton Href="/editor" Height="@("100%")" Text>在线编辑器</MButton>
</MAppBar>

<MMain>
    <!-- 给应用提供合适的间距 -->
    <MContainer App Fluid Style="height: 100%">
        <MRow NoGutters Style="height: 100%">
            <MCol Style="height: 99%" Cols="12"
                  Md="6">
                <SMonacoEditor Style="float: left;" EditorOptions="Options" @ref="_monacoEditor"/>
                <div class="run" id="run" @onclick="RunCode">
                    运行
                </div>
            </MCol>
            <MCol Style="height: 99%" Cols="6"
                  Md="6">
                @if (ComponentType != null)
                {
                    <DynamicComponent Type="ComponentType"></DynamicComponent>
                }
            </MCol>
        </MRow>
    </MContainer>
</MMain>

<Footer>

</Footer>


<style>
    .run {
        transition: 1s;
        position: fixed;
        height: 25px;
        width: 35px;
        right: 12px;
        cursor: pointer;
        background: #3d5fab;
        border-radius: 6px;
        user-select: none;
    }
    .run:hover {
        transition: 1s;
        background: #09a2d3; /*背景颜色*/
    }

</style>