@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager
@inject HelperJsInterop HelperJsInterop
@page "/login"
@namespace Blog.Component
@using System.Net.Http.Json
@inject IKeyLoadEventBus KeyLoadEventBus
<div style="text-align: center;font-size: 30px">
    <div class="loading"></div>
</div>

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public required string Code { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await OnLogin();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnLogin()
    {
        var message = await HttpClient.PostAsJsonAsync<string>("/api/app/auth/git-hub-auth?code=" + Code + "&state=" + Guid.NewGuid(), null);
        var token = await message.Content.ReadAsStringAsync();
        await HelperJsInterop.SetToken(token);
        if (HttpClient.DefaultRequestHeaders.Any(x => x.Key == "Authorization"))
        {
            HttpClient.DefaultRequestHeaders.Remove("Authorization");
        }
        HttpClient.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);
        await KeyLoadEventBus.PushAsync(EventBusName.GetProfile, true);
        NavigationManager.NavigateTo("/");
    }

}

<style>
    .loading {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background-color: #000;
      animation: ball-scale infinite linear 0.75s;
      margin-left: 45%;
    }
    
    @@keyframes ball-scale {
      0% {
        transform: scale(0.1);
        opacity: 1;
      }
      100% {
        transform: scale(1);
        opacity: 0;
      }
    }
</style>