@inject IHttpClientFactory HttpClientFactory;
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@page "/login"
@namespace Blog.Component
@using System.Net.Http.Json
@using Microsoft.Extensions.DependencyInjection
@using Token.Events
@inject IKeyLoadEventBus KeyLoadEventBus
<div>
    登录中
</div>

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public required string Code { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await OnLogin();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnLogin()
    {
        if (!string.IsNullOrEmpty(BlogHttpApiClientExtension.Token))
        {
            return;
        }
        var http = HttpClientFactory.CreateClient(string.Empty);
        var message = await http.PostAsJsonAsync<string>("/api/app/auth/git-hub-auth?code=" + Code + "&state=" + Guid.NewGuid(), null);
        var token = await message.Content.ReadAsStringAsync();
        await JsRuntime.InvokeVoidAsync("window.sessionStorage.setItem", "token", token);
        BlogHttpApiClientExtension.SetToken(token);
        NavigationManager.NavigateTo("/");
        await KeyLoadEventBus.PushAsync(EventBusName.GetProfile, true);
    }

}