@page "/show-article/{Id:guid}"
@namespace Blog.Component

@inject IArticleService ArticleService
@inject NavigationManager NavigationManager
@inject AuthService AuthService
@inject HelperJsInterop HelperJsInterop
@layout EmptyLayout
<CascadingValue Value="Id" Name="ArticleId">
    <MAppBar App>
        <MButton Class="ma-2"
                 OnClick="GetBack"
                 Color="orange darken-2"
                 Dark>
            <MIcon Dark
                   Left>
                mdi-arrow-left
            </MIcon>返回
        </MButton>
    </MAppBar>

    <MMain>
        <!-- 给应用提供合适的间距 -->
        <MContainer App Fluid Style="height: 60vh">
            @if (ArticlesDto != null)
            {
                <BCardTitle Style="text-align: center;font-size: 20px;">@ArticlesDto?.Title</BCardTitle>
                <MDivider>内容</MDivider>
                <Markdown @bind-Source="@ArticlesDto.Content"></Markdown>
            }
            <MDivider>评论区</MDivider>
            @if (ShowComment)
            {
                <CommentList/>
                <MDivider>编辑评论</MDivider>
                <SendComment/>
            }
            else
            {
                <MButton Style="margin: 5px" Block OnClick="async () => await AuthService.GitHub()">登录账号</MButton>
            }
            <div style="margin: 20px;height: 200px;"></div>
        </MContainer>
    </MMain>

    <Footer>

    </Footer>
</CascadingValue>